.el{
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 20px;
}

h3 {
    font-size: 20px;
    margin-left: 25px;
}

tr { 
    background-color: oldlace;
}

.table-center {
    align-items: center;
    width: 35%;
}

.th-color {
    background-color: orange;
}